body{
    background-color: bisque;
}

#cabecera{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: bisque;
}

#cabecera h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    font-size: 300%;
    color: black;
    width: 70%;
}

#lutions{
    padding-top: 5%;
}

#eevee{
    margin: auto;
    width: 14%;
    position: relative;
    left: 40%;
}